.title {
  text-align: center;
  padding-top: 20px;
  width: 100%;
  height: 150px;
  background-color: navy;
  color: white;
}

.text {
  text-align: center;
  width: 100%;
  height: 150px;
  background-color: white;
  color: navy;
  padding: 5px;

}

.title:hover {
  color: lightblue;
}

.title:active {
  color: blue;

}

.image {
  display: block;
  margin: auto;
  width: 50%;
}

.link {
  background-color: beige;
  text-align: center;
  width: 200px;
  height: 80px;
  padding-top: 30px;

}

#toggle {
    width: 100px;
    height: 100px;
    background: #ccc;
  }

a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}
